#image {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#phrase {
  background-color: #fff;
  position: fixed;
  top: 50px;
  left: 210px;
  font-family: 'Courier New', monospace;
}

#bottom_msg {
  background-color: #fff;
  position: fixed;
  bottom: auto;
  top: 215px;
  left: 0;
  font-family: 'Courier New', monospace;
}

/* breakpoint at 800px: */
@media screen and (max-width: 800px) {
  #image {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #phrase {
    background-color: #fff;
    position: -webkit-sticky; /* Safari */
    position: relative;
    top: 215px;
    left: 0;
    font-family: 'Courier New', monospace;
  }
  #bottom_msg {
    background-color: #fff;
    bottom: 0px;
    top: auto;
    left: 0;
    font-family: 'Courier New', monospace;
  }
}
